.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 3.75rem;
}

.cabecalho ul {
    display: flex;
    gap: 1.875rem;
}

.cabecalho a {
    padding: 0.625rem 0.625rem;
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    font-size: 1.25rem;
}

@media(max-width: 43.75rem) {
    .cabecalho {
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 1.875rem;
    }
}

@media(max-width: 28.125rem) {
    .cabecalho {
        margin-bottom: 0.625rem;
    }
    
    .cabecalho ul {
        flex-wrap: wrap;
        gap: 2.5rem;
        text-align: center;
        justify-content: center;
    }
}