 .experiencia {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 9.375rem;
    margin-bottom: 3.75rem;
    justify-content: center;
 }

 .experiencia-titulo {
    word-break: break-all;
    font-size: 6.875rem;
    width: 5ch;
    line-height: 1;   
    justify-self: start;
    color: #000000;
 }

 .experiencia-paragrafo {
    width: 40ch;
    font-size: 1.5rem;
    margin-bottom: 3.125rem;
 }

 .experiencia-paragrafo strong {
   color: #141414;
 }

 .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem 1.25rem;
    padding: 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    position: relative;
    margin-bottom: 1.25rem;
 }

 .empresa-ano {
    position: absolute;
    top: 1.5625rem;
    left: -7.25rem;
    width: 5.625rem;
    text-align: right;
    color: #525252;
 }

 .empresa-titulo {
    font-size: 1.125rem;
    position: relative;
    font-weight: bold;
 }

 .empresa-funcao {
   font-size: 1.125rem;
 }

 .empresa-paragrafo::before {
    content: "";
    width: 0.375rem;
    height: 1.875rem;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    display: block;
    top: 1.125rem;
    left: -0.375rem;

 }

 .empresa-paragrafo {
    font-size: 1rem;
    color: #525252;
 }

 .empresa ul {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 0.625rem;
 }

 .empresa li {
    font-size: 1rem;
    padding: 0.625rem;
    background-color: #ffffff;
    border-radius: 0.25rem;

 }

 @media (max-width: 71.875rem) {
   
   .experiencia-titulo {
      font-size: 5.625rem;
   }
   .experiencia-paragrafo {
      width: auto;
   }
   .empresa {
      display: grid;
      grid-template-columns: 1fr;
   }
   .empresa ul {
      order: 2;
   }
   .empresa-funcao {
      order: 1;
   }
 }

 @media (max-width: 65.625rem) {
   .experiencia-titulo {
      font-size: 4.375rem;
      width: 5ch;
   }
 }

 @media (max-width: 59.375rem) {
   .experiencia-titulo {
      font-size: 3.125rem;
      width: 5ch;
      text-align: left;
      word-break: break-all;
      justify-self: center;
   }
 }

 @media (max-width:48.125rem) {
   .experiencia {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3.75rem;
   }

   .experiencia-titulo {
      font-size: 3.125rem;
      width: fit-content;
      margin: 0 auto;
      color: #141414;
   }

   .experiencia-paragrafo {
      font-size: 1.25rem;
      width: 35ch;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 3.75rem;
   }

   .empresa-ano {
      content:"";
      order: 3;
      position: relative;
      top: 0.625rem;
      left: 0rem;
      text-align: left;
      width: initial;
   }

   .empresa-ano::before {
      content: "Ano: ";
   }
 }

 @media (max-width: 28.125rem) {
   .experiencia-titulo {
      font-size: 2.1875rem;
   }

   .experiencia-paragrafo {
      font-size: 1rem;
   }
 }