body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #141414;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    padding: 0rem;
    margin: 0rem;
}

