.introducao {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3.75rem;
    padding: 1.25rem 2.5rem;
    gap: 9.375rem;
}

.introducao img {
    justify-self: end;
}

.introducao h1 {
    font-size: 4.375rem;
    line-height: 1;
    padding-bottom: 1.25rem;
    position: relative;
    width: 13ch;
}

.introducao h1::before {
    content: "";
    display: block;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    height: 8rem;
    width: 8rem;
    top: -2.1875rem;
    left: -2.5rem;
    z-index: -1;
    
}

.introducao p {
    font-size: 1.25rem;
    color: #525252;
}

@media (max-width: 62.5rem) {
    .introducao h1 {
        font-size: 3.75rem;
    }
}

@media(max-width: 59.375rem) {
    .introducao h1 {
        font-size: 3.125rem;
    }
    .introducao h1::before {
        height: 0.625rem;
        width: 2.5rem;
        left: 0.1875rem;
        top: -1.25rem;
    }
    .introducao p {
        font-size: 0.875rem;
    }
    .introducao img {
        width: 80%;
    }
}

@media(max-width: 48.125rem) {
    .introducao img {
        display: none;
    }
    .introducao {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media(max-width: 28.125rem) {
    .introducao h1 {
        font-size: 2.1875rem;
    }
    
    .introducao p {
        font-size: 0.875rem;
    }

    .cabecalho {
        gap: 3.125rem;
        margin: 1.25rem;
    }
}